@media only screen and (max-device-width: 450px) {
  h1 {
    font-size: 96px;
  }

  h1.studio {
    font-size: 48px;
  }

  h1.register-tt {
    font-size: 56px;
  }

  h2 {
    font-size: 56px;
    font-weight: bold;
  }

  h2.beats-solo-4 {
    font-size: 40px;
  }

  h2.studio {
    font-size: 32px;
  }

  h2.info-title {
    font-size: 40px;
  }

  h2.insert-email {
    font-size: 56px;
  }

  h3 {
    font-size: 28px;
  }

  h3.cards-em-alta {
    font-size: 40px;
  }

  h3.easy-buys-subtitle {
    font-size: 40px;
  }

  h3.insert-text {
    font-size: 40px;
    text-align: center;
  }

  h4 {
    font-size: 30px;
  }

  h4.subtitle {
    font-size: 28px;
  }

  h4.cards-info-subtitle {
    font-size: 22px;
  }

  h5 {
    font-size: 24px;
  }

  h5.location {
    font-size: 20px;
  }

  p {
    font-size: 24px;
  }

  p.footer {
    font-size: 24px;
  }

  button {
    width: 170px;
    height: 72px;
    font-size: 24px;
    border-radius: 36px;
  }

  button.studio {
    width: 120px;
    height: 52px;
    font-size: 14px;
  }

  button.register {
    width: 170px;
    height: 64px;
    font-size: 18px;
  }

  button.location {
    width: 200px;
    height: 70px;
    border-color: #010400;
    color: #010400;
    padding-bottom: 0%;
  }

  input {
    width: 80%;
    height: 84px;
    border-radius: 40px;
    border-width: 3px;
  }

  input::placeholder {
    color: #ffffff;
    font-weight: bold;
    font-family: "Didact Gothic", sans-serif;
    font-size: 28px;
  }

  a {
    font-size: 30px;
  }

  a.freight-bar {
    font-size: 28px;
  }

  a.footer {
    font-size: 20px;
  }

  .section-hero {
    width: 100%;
    height: 900px;
  }

  .navbar-container {
    width: 100%;
    height: 110px;
  }

  .logo-beats-by {
    width: 60px;
    height: 60px;
  }

  .icon-lupa {
    width: 44px;
    height: 44px;
  }

  .freight-bar-container {
    width: 100%;
    height: 84px;
  }
  .icon-link-white {
    width: 40px;
    height: 40px;
  }

  .beats-solo-4-container {
    width: 100%;
    height: 100%;
  }

  .section-cards-products {
    width: 100%;
    height: 90vh;
    background-color: #e2e2e2;
    padding-top: 170px;
  }

  .cards-products-container {
    width: 100%;
    height: 100%;
    padding-bottom: 12px;
  }

  .cards-products-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto;
  }

  .products-cards {
    width: 400px;
    height: 100%;
  }

  .products-cards.gd {
    margin-top: 18px;
  }

  .products-cards-image {
    width: 400px;
    height: 390px;
    padding-top: 12px;
  }

  .products-colors-container {
    margin-top: 32px;
    margin-bottom: 24px;
    width: 190px;
  }

  .products-colors-container.width {
    width: 150px;
  }

  .products-colors-content {
    width: 42px;
    height: 42px;
    border-radius: 21px;
  }

  .section-easy-buys {
    height: auto;
  }

  .easy-buys-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 48px;
  }

  .easy-txt-pd {
    padding-top: 12px;
  }
  .easy-buys-padding {
    padding-top: 84px;
  }

  .section-beats-studio-pro {
    width: 100%;
    height: 600px;
  }
  .register-image {
    width: 400px;
  }

  .section-cards-info {
    width: 100%;
    height: auto;
  }

  .cards-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 96px 0px 0px 12px;
  }

  .cards-info-grid {
    display: grid;
    width: 100%;
    column-gap: 18px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
  }

  .cards-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 640px;
    border-style: solid;
    border-width: 2px;
    border-radius: 24px;
    border-color: #e4fde1;
    background-color: #ffffff;
    padding: 24px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .cards-info.gd {
    margin-top: 18px;
  }

  .section-register {
    width: 100%;
    height: 60vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .register-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .register-image {
    width: 600px;
    height: auto;
  }

  .section-beats-add-infos {
    width: 100%;
    height: 35vh;
    background-color: #ffffff;
  }

  .section-insert-email {
    width: 100%;
    height: 40vh;
  }

  .insert-email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-top: 60px;
  }

  .insert-email-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 48px;
  }

  .insert-email-image {
    width: 56px;
    height: 56px;
  }

  .footer-beats-dre {
    width: 100%;
    height: 40vh;
  }
  .footer-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 32px 12px 12px 0px;
  }

  .icon-contacts {
    width: 36px;
    height: 36px;
  }
}
