@media only screen and (max-device-width: 450px) {
  h1 {
    font-size: 96px;
  }

  h1.studio {
    font-size: 48px;
  }

  h1.register-tt {
    font-size: 40px;
  }

  h2.studio {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  h3.beats-solo-4 {
    font-size: 36px;
  }

  h3.cards-em-alta {
    font-size: 48px;
  }

  h4.subtitle {
    font-size: 40px;
  }

  button {
    width: 170px;
    height: 72px;
    font-size: 24px;
    border-radius: 36px;
  }

  button.studio {
    width: 120px;
    height: 52px;
    font-size: 14px;
  }

  button.register {
    width: 120px;
    height: 52px;
    font-size: 14px;
  }

  a.freight-bar {
    font-size: 28px;
  }

  .section-hero {
    width: 100%;
    height: 900px;
  }

  .navbar-container {
    width: 100%;
    height: 110px;
  }

  .logo-beats-by {
    width: 60px;
    height: 60px;
  }

  .icon-lupa {
    width: 44px;
    height: 44px;
  }

  .freight-bar-container {
    width: 100%;
    height: 84px;
  }
  .icon-link-white {
    width: 40px;
    height: 40px;
  }

  .beats-solo-4-container {
    width: 100%;
    height: 100%;
  }

  .section-cards-products {
    width: 100%;
    height: 80vh;
    background-color: #e2e2e2;
    padding-top: 170px;
    padding-bottom: 56px;
  }

  .cards-products-container {
    width: 100%;
    height: 100%;
  }

  .cards-products-grid {
    display: grid;
    width: 100%;
    height: 100%;
  }

  .slider {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    overflow: hidden;
  }

  .slides {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .slides input {
    display: none;
  }

  .slide {
    width: 100%;
  }

  .manual-navigation {
    position: absolute;
    width: 50%;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .manual-btn {
    display: flex;
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }

  .manual-btn:hover {
    background-color: #ffffff;
  }

  #radio1:checked ~ .first {
    margin-left: 0;
  }

  #radio2:checked ~ .first {
    margin-left: -85%;
  }

  #radio3:checked ~ .first {
    margin-left: -155%;
  }

  .products-cards {
    width: 100%;
    height: 60vh;
  }

  .products-cards-image {
    width: 600px;
    height: 620px;
    padding-top: 12px;
  }

  .products-colors-container {
    margin-top: 32px;
    margin-bottom: 24px;
    width: 190px;
  }
  .products-colors-container.width {
    width: 160px;
  }
  .products-colors-content {
    width: 42px;
    height: 42px;
    border-radius: 21px;
  }

  .section-easy-buys {
    height: 25vh;
  }

  .section-beats-studio-pro {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 6%;
    padding-bottom: 8%;
  }
  .register-image {
    width: 400px;
  }
}
