@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #010400;
  overflow-x: hidden;
}

h1 {
  font-size: 72px;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

h1.studio {
  color: #010400;
}

h1.register-tt {
  font-size: 56px;
}

h2 {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Didact Gothic", sans-serif;
  letter-spacing: -0.025rem;
  color: #010400;
  margin: 0px;
  padding: 0px;
}

h2.beats-solo-4 {
  font-size: 32px;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}
h2.studio {
  color: #010400;
}

h2.insert-email {
  font-size: 32px;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: -0.02rem;
  margin: 0px;
  padding: 0px;
}
h3.beats-solo-4 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

h3.cards-em-alta {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.02rem;
  margin: 0px;
  padding: 0px;
}

h3.easy-buys-subtitle {
  font-size: 26px;
  font-weight: bolder;
  font-family: "Didact Gothic", sans-serif;
  letter-spacing: -0.025rem;
  color: #010400;
  margin: 0px;
  padding: 0px;
}

h3.insert-text {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Didact Gothic", sans-serif;
  color: #363636;
  letter-spacing: -0.02rem;
  margin: 0px;
  padding: 0px;
}

h4.subtitle {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  color: #010400;
  letter-spacing: -0.02rem;
  margin: 0px;
  padding: 0px;
}

h4.cards-info-subtitle {
  font-size: 20px;
  font-weight: 600;
  font-family: "Didact Gothic", sans-serif;
  color: #808080;
  letter-spacing: -0.02rem;
  margin: 0px;
  padding: 0px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  color: #010400;
}

p {
  font-size: 12px;
  font-weight: 500;
  color: #808080;
  text-align: justify;
}

p.footer {
  font-size: 17px;
  font-weight: 500;
  font-family: "Didact Gothic", sans-serif;
  color: #948d8d;
}

button {
  width: 120px;
  height: 52px;
  font-size: 14px;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  color: #363636;
  letter-spacing: -0.1rem;
  text-align: center;
  border-radius: 24px;
  border-width: 1px;
  border-color: #ffffff;
  background-color: #ffffff;
  box-sizing: border-box;
}

button.studio {
  color: #ffffff;
  letter-spacing: -0.025rem;
  border-color: #010400;
  background-color: #010400;
  box-sizing: border-box;
  padding-bottom: 0%;
}

button.register {
  width: 150px;
  padding-bottom: 0%;
}

button.location {
  width: 160px;
  height: 40px;
  border-color: #010400;
  color: #010400;
  padding-bottom: 0%;
}

input {
  width: 300px;
  height: 48px;
  background-color: #010200;
  border-radius: 24px;
  border-color: #ffffff;
  border-width: 2px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Didact Gothic", sans-serif;
  padding-left: 18px;
}

input::placeholder {
  color: #ffffff;
  font-weight: bold;
  font-family: "Didact Gothic", sans-serif;
}

a {
  font-size: 24px;
  font-weight: bold;
  font-family: "Didact Gothic", sans-serif;
  text-decoration: none;
  position: relative;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.8);
  padding-bottom: 5px;
  letter-spacing: -0.025rem;
}

a.freight-bar {
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  letter-spacing: -0.015rem;
}

a.footer {
  font-size: 16px;
  font-weight: 500;
  color: #010400;
  position: relative;
  box-shadow: none;
  padding-bottom: 0px;
  letter-spacing: -0.025rem;
}
.logo {
  width: 88px;
  height: auto;
}

.section-hero {
  width: 100%;
  height: 836px;
  margin: 0px;
  padding: 0px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 84px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 12px 48px 12px 32px;
  position: sticky;
  top: 1px;
  transition: opacity 0.15s ease, visibility 0.9s ease;
  cursor: pointer;
}
.navbar-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.navbar-text-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 225px;
}

.logo-beats-by {
  width: 42px;
  height: 42px;
}

.icon-lupa {
  width: 22px;
  height: 18px;
}

.freight-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background-color: #010400;
  transition: opacity 0s ease, visibility 0.5s ease;
  cursor: pointer;
}

.freight-bar-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.icon-link-white {
  width: 30px;
  height: 30px;
}

.beats-solo-4-container {
  background-image: url(images/beats-2.jpg);
  background-size: cover;
  background-position: flex-start;
  background-repeat: no-repeat;
  width: 100%;
  height: 770px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 6%;
  padding-bottom: 8%;
}

.section-cards-products {
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  padding-top: 48px;
  padding-bottom: 84px;
}

.cards-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.title-of-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 72px;
}

.cards-products-grid {
  display: grid;
  width: 100%;
  column-gap: 18px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  margin-top: 48px;
}

.products-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  border-color: #e4fde1;
  background-color: #ffffff;
  padding: 32px 0px 0px 24px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.products-cards:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.products-cards-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.products-cards-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}

.products-cards-image {
  width: 320px;
  height: 290px;
}

.products-colors-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 24px;
  width: 110px;
}

.products-colors-container.width {
  width: 80px;
}

.products-colors-content {
  width: 22px;
  height: 22px;
  border-radius: 11px;
}

.section-easy-buys {
  width: 100%;
  height: 60vh;
  background-color: #ffffff;
}

.easy-buys-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 48px;
}

.easy-buys-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 24px;
}

.easy-buy-container-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.easy-buy-content-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.easy-buy-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.easy-buy-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-top: 6px;
}

.easy-buy-container-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.easy-buy-content-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.easy-buy-icon-link {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.icon-box1-easy-buys {
  width: 90px;
  height: 80px;
}

.icon-box2-easy-buys {
  width: 100px;
  height: 80px;
}

.icon-link-black {
  width: 35px;
  height: 35px;
}

.section-beats-studio-pro {
  background-image: url(images/hp-hero-studiopro.jpg.large.2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 6%;
  padding-bottom: 8%;
}

.section-cards-info {
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  padding-bottom: 48px;
}

.cards-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: auto;
  padding: 96px 0px 0px 32px;
}

.cards-info-grid {
  display: grid;
  width: 100%;
  column-gap: 18px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}

.cards-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  min-height: 500px;
  height: auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  border-color: #e4fde1;
  background-color: #ffffff;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-info:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.cards-info-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.cards-info-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 48px;
}

.cards-info-image {
  width: 290px;
  height: 290px;
}

.cards-info-image-2 {
  width: 320px;
  height: 220px;
}

.section-register {
  width: 100%;
  height: 90%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    3deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(14, 14, 14, 1) 36%,
    rgba(157, 171, 173, 1) 100%
  );
  background-size: cover;
  background-position: flex-start;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 6%;
  padding-left: 6%;
  padding-bottom: 8%;
}

.register-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.register-image {
  width: 460px;
  height: auto;
}

.section-beats-add-infos {
  width: 100%;
  height: 40%;
  background-color: #ffffff;
}

.beats-add-infos-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  padding: 70px 100px 70px 100px;
}

.section-insert-email {
  width: 100%;
  height: auto;
  background-color: #010200;
  padding-bottom: 24px;
}

.insert-email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 60px;
}

.insert-email-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 24px;
}

.insert-email-image {
  width: 36px;
  height: 36px;
}

.footer-beats-dre {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 32px 12px 12px 0px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 12px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.button-location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  cursor: pointer;
}

.button-location-icon {
  width: 28px;
  height: 28px;
}

.icon-contacts-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.icon-contacts {
  width: 28px;
  height: 28px;
}
